<% provide(:title, 'Contacts') %>

<h1>Contacts</h1>
<p>
	Following the our contacts to coutact us
	
</p>
<table>
	Following the our contacts to coutact us
	Following the our contacts to coutact us
	Following the our contacts to coutact us
</table>
